.input-container {

  &__input {
    margin-right: 0.8em;
    margin-bottom: 1.2rem;
    padding: 1em;
    width: 12rem;
    border: 1px solid #6f6f6f;
    font-size: 0.8rem;
  }

  &__btn {
    font-size: 2rem;
    vertical-align: middle;
    display: inline-block;

    &--disabled {
      color: #dadada;
      pointer-events: none;
      cursor: not-allowed;
    }

    &--rotate-shake {
      transform: translateX(0) rotate(45deg);
      animation: shake-rotate 0.5s ease-out;

      @keyframes shake-rotate {
        10%, 90% {
          transform: translateX(-2px) rotate(45deg);
        }
        20%, 40%, 60%, 80% {
          transform: translateX(4px) rotate(45deg);
        }
        30%, 50%, 70% {
          transform: translateX(-4px) rotate(45deg);
        }
      }
    }
  }
}
